dosyaları publish etmeden configurasyon ayarlarınızı yapmanız için örnek bir .env dosyası oluşturduk
. Bu dosyayı projenizin kök
 dizinine .env adıyla kaydedin ve içindeki değerleri kendi yapılandırmanıza göre düzenleyin.

 JWT_SECRET=change-me
 JWT_ACCESS_TOKEN_EXPIRATION_MS=60000
 DB_URL=jdbc:postgresql://localhost:5433/refresh_token_db
 DB_USERNAME=postgres
 DB_PASSWORD=change-me